<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<nav th:replace="inc/top_nav.inc::top_nav"></nav>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-3">

            <div class="row">
                <strong>Таймфрейм</strong>
                <div class="input-group input-group-sm mb-3">
                    <select id="select-timeframe" class="form-select form-select-sm" onchange="showChart();">
                        <option value="1">1 минута</option>
                        <option value="10" selected>10 минут</option>
                        <option value="60">60 минут</option>
                    </select>
                </div>
            </div>

            <strong>Инструменты</strong>
            <div class="row">
                <div class="input-group input-group-sm mb-3">
                    <table id="tikers-table" class="table table-striped" style="font-size: 12px;">
                        <thead>
                        <tr>
                            <th style="width: 75px;">Инструмент</th>
                            <th style="width: 75px;">Цена</th>
                            <th style="width: 75px;">Изменение</th>
                        </tr>
                        </thead>
                        <tbody id="tikers-body">
                        <tr data-tikercode="USD000UTSTOM">
                            <td>USDRUB_TOM</td>
                            <td>60.5320</td>
                            <td>-0.72 %</td>
                        </tr>
                        <tr data-tikercode="EUR_RUB__TOM">
                                <td>EURRUB_TOM</td>
                            <td>62.2210</td>
                            <td>0.63 %</td>
                        </tr>
                        <tr data-tikercode="CNYRUB_TOM">
                            <td>CNYRUB_TOM</td>
                            <td>8.4300</td>
                            <td>0.58 %</td>
                        </tr>
                        <tr data-tikercode="AMDRUB_TOM">
                            <td>AMDRUB_TOM</td>
                            <td>15.9080</td>
                            <td>0.3 %</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="chart-box">
                <div id="chart-candlestick"></div>
                <div id="chart-bar"></div>
            </div>
        </div>

        <div class="col-2">
            <div class="row">
                <table id="stakan-table" class="table table-striped" style="font-size: 12px;">
                    <thead>
                    <tr>
                        <th>Цена</th>
                        <th style="width: 75px;">Объем</th>
                    </tr>
                    </thead>
                    <tbody id="stakan-offers"></tbody>
                </table>
            </div>
        </div>

        <div class="col-2">
            <div class="row">
                <strong>Ввод заявки</strong>

                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="order-price-group">Цена</span>
                    <input id="order-price" type="text" class="form-control" aria-describedby="order-price-group">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="order-volume-group">Объем</span>
                    <input id="order-lot" type="text" class="form-control" aria-describedby="order-volume-group" value="0">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="order-type-radio-1"
                               value="option1" checked>
                        <label class="form-check-label" for="order-type-radio-1"
                               style="font-size: 12px;">Покупка</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="order-type-radio-2"
                               value="option2">
                        <label class="form-check-label" for="order-type-radio-2"
                               style="font-size: 12px;">Продажа</label>
                    </div>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <button id="bt-create-order" type="button" class="btn btn-primary" onclick="createOrder();">Ввод
                        заявки
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <strong>Заявки</strong>
            <table id="table-orders" class="table table-striped">
                <thead>
                <tr class="bg-secondary">
                    <th>#</th>
                    <th>Дата</th>
                    <th>Инструмент</th>
                    <th>Операция</th>
                    <th>Цена</th>
                    <th>Кол-во</th>
                    <th>Объем</th>
                    <th>Состояние</th>
                </tr>
                </thead>
                <tbody id="user-orders"></tbody>
            </table>
        </div>

        <div class="col-6">
            <strong>Сделки</strong>
            <table id="table-trades" class="table table-striped">
                <thead>
                <tr class="bg-secondary">
                    <th>#</th>
                    <th>Дата</th>
                    <th>Инструмент</th>
                    <th>Операция</th>
                    <th>Цена</th>
                    <th>Кол-во</th>
                    <th>Объем</th>
                </tr>
                </thead>
                <tbody id="user-deals">
                <tr>
                    <td>1</td>
                    <td>19.11.2022 14:54</td>
                    <td>USD000UTSTOM</td>
                    <td>BUY</td>
                    <td>60.553</td>
                    <td>2</td>
                    <td>12 110.6</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>20.11.2022 11:23</td>
                    <td>EURRUB_TOM</td>
                    <td>BUY</td>
                    <td>63.420</td>
                    <td>4</td>
                    <td>25 368</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>

<!-- Footer -->
<footer th:replace="inc/footer.inc::footer"></footer>

<!-- Bootstrap core JavaScript -->
<div th:replace="inc/js.inc::js"></div>

<script src="/static/default/js/terminal.js"></script>
<script src="/static/default/js/ohlc.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

</body>

</html>