<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<nav th:replace="inc/top_nav.inc::top_nav"></nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <h2>Персональная страница</h2>
    </div>

    <div class="row">

    </div>
    <div class="row">
        <div class="col-3">
            <a href="/money" class="btn btn-secondary">Информация о счете</a>
            <br/><br/>
            <a href="/terminal" class="btn btn-secondary">Купить валюту</a>
        </div>
        <div class="col-9">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:replace="inc/footer.inc::footer"></footer>

<!-- Bootstrap core JavaScript -->
<div th:replace="inc/js.inc::js"></div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');

    var labels = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'];
    const data = {
        labels: labels,
        datasets: [{
            label: 'Изменение потфеля',
            data: [100000, 102645, 98342, 96134, 92410, 101520, 107140, 103410, 112710, 107438, 106431, 109723],
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1,
        }]
    };
    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'right',
                },
                title: {
                    display: false,
                    text: 'Структура портфеля клиента, %',
                    padding: 0
                }
            }
        }
    };


    chart = new Chart(ctx, config);
</script>

</body>

</html>