<nav th:fragment="top_nav" class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
    <div class="container-fluid">
        <img src="/static/default/images/logo.png" width="100"/>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Терминал</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
