<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<nav th:replace="inc/top_nav.inc::top_nav"></nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <h2>Счет клиента</h2>
    </div>

    <div class="row">
        <div class="col-4">
            <!--            <h4>Баланс счета</h4>-->
            <div class="row">
                <p><strong>Баланс всего: </strong> 109723.00 руб.</p><br/>
                <p><strong>Свободные средства: </strong> 64204.20 руб.</p><br/>
                <p><strong>Заблокированные средства: </strong> 2645.24 руб.</p><br/>
            </div>
        </div>
        <div class="col-4">
            <a class="btn btn-primary" href="/money/payment">Пополнить счет</a>
        </div>
        <div class="col-4">
            <canvas id="myChart" width="200"></canvas>
        </div>
    </div>

    <div class="row" style="margin: 30px 0;">
        <h4>Позиции по счету</h4>
        <table id="stakan-table" class="table table-striped" style="margin: 0 10px; font-size: 13px;">
            <tr>
                <th>Инструмент</th>
                <th>Текущая цена</th>
                <th>Средняя цена сделки</th>
                <th>Число лотов</th>
                <th>Объем</th>
                <th>Прибыль/Убыток</th>
            </tr>
            <tr>
                <td>USDRUBTOM</td>
                <td>60.23</td>
                <td>61.12</td>
                <td>6</td>
                <td>36138</td>
                <td>942.13</td>
            </tr>
            <tr>
                <td>EURRUB_TOM</td>
                <td>66.40</td>
                <td>67.63</td>
                <td>8</td>
                <td>53130</td>
                <td>1034.56</td>
            </tr>
        </table>
    </div>
</div>

<!-- Footer -->
<footer th:replace="inc/footer.inc::footer"></footer>

<!-- Bootstrap core JavaScript -->
<div th:replace="inc/js.inc::js"></div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script>
    const data = {
        labels: ['Рубль', 'EURRUB_TOM', 'USDRUB_TOM',  'Остальное'],
        datasets: [{
            label: 'Структура портфеля клиента, %',
            data: [63, 16, 21, 0],
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)',
                'rgb(146,146,146)'
            ],
            hoverOffset: 4
        }]
    };
    const config = {
        type: 'doughnut',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'right',
                },
                title: {
                    display: true,
                    text: 'Структура портфеля клиента, %',
                    padding: 0
                }
            }
        }
    };

    const ctx = document.getElementById('myChart').getContext('2d');
    chart = new Chart(ctx, config);
</script>

</body>

</html>