<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<nav th:replace="inc/top_nav.inc::top_nav"></nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <h2>Счет клиента</h2>
    </div>

    <div class="row">
        <a class="btn btn-primary" href="/money/payment">Пополнить счет</a>
        <h4>Баланс счета</h4>
        <div class="row">
            <strong>Баланс всего: </strong> <span>123000 руб.</span><br />
            <strong>Свободные средства: </strong> <span>123000 руб.</span><br/>
            <strong>Заблокированные средства: </strong> <span>123000 руб.</span><br/>
        </div>
    </div>

    <div class="row">
        <h4>Позиции по счету</h4>
        <table id="stakan-table" class="table table-striped" style="font-size: 13px;">
            <tr>
                <th>Инструмент</th>
                <th>Текущая цена</th>
                <th>Средняя цена сделки</th>
                <th>Число лотов</th>
                <th>Объем</th>
                <th>Прибыль/Убыток</th>
            </tr>
            <tr>
                <td>USDRUBTOM</td>
                <td>66.23</td>
                <td>62.12</td>
                <td>24</td>
                <td>134501</td>
                <td>1034.56</td>
            </tr>
        </table>
    </div>
</div>

<!-- Footer -->
<footer th:replace="inc/footer.inc::footer"></footer>

<!-- Bootstrap core JavaScript -->
<div th:replace="inc/js.inc::js"></div>

</body>

</html>